SANITY_TOKEN=DADA
NEXT_PUBLIC_SANITY_PROJECT_ID="DA"
SANITY_DATASET="production"
REVALIDATE_SECRET=supersecreto1233
NEXT_PUBLIC_GA_ID=G-1EMFJXPWTP24
SITE_URL=https://www.mono.com
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-3531903318928805321
RESEND_API_KEY=re_c8gwjZ6Z_HFadLCWoAEsyXoJJqRAU5kDhe2f
EMAIL_TO=gerav0400@gmail.com